@font-face{
    font-family: Noto Sans KR;
    src: url('../public/asset/font/NotoSansKR-Regular.otf');
    font-weight: 500;
}



/* @font-face {
    font-family: 'SueEllenFrancisco';
    src: url('../public/asset/font/SueEllenFrancisco-Regular.ttf');
    font-weight: 500;
} */